@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #001529;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}